/*
Colors used:
Primary Color (Blue): #0A2240
Secondary Color (Grey): #E3E5E8
*/

* {
  box-sizing: border-box;
}
body {
  background-color: #E3E5E8;
}

 img {
  width: 100%;
}

body {
  font-family: 'Alfa Slab One', cursive;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 400; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #0A2240;
}

h1, h2, h3, h4, {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 400;
}

h1.title {
  font-size: 2em;
  font-weight: 400;
  color: #E3E5E8;
}

h2 {
  font-size: 2.25em;
  font-weight: 400;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 400; /* Sets the font weight to 300 */
  line-height: 1.4; /* Sets the line-height to 1.6 * the font-size */
  color: #0A2240;
}

a {
  color: #0A2240;
  text-decoration: none;
}

a:hover {
  color: #0A2240;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:focus {
  color: #0A2240;
  text-decoration: underline;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #0A2240;
  color: #E3E5E8; /* needed to override the default link color */
  font-family: 'Roboto',sans-serif;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #0A2240; /* width of the border, type, color */
  transition: 0.2s opacity;
}
.button:visited{
  color:#E3E5E8;
  text-decoration: none;
}
.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  color: #E3E5E8;
  text-decoration: underline;
}

.button.contact {
  background-color: transparent;
  color: #0A2240;
  text-transform: uppercase;
  border: 2px solid #0A2240;
}

.button.contact:hover {
  background-color: #0A2240;
  color: #ffffff;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
  padding-bottom: 25px;
  border-bottom: 3px solid #0A2240;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 3px solid #0A2240; }

#work h2 {
    text-align: center; /* Centers text */
}

#navigation h3 {
  text-align: center;
}

header {
  background-color: #0A2240;
  padding: 10px;
  margin: 0 px;
  text-align: center;
  color: #E3E5E8;
  -webkit-box-shadow: 0px 12px 12px 0px rgba(255, 255, 255, 0.50);
-moz-box-shadow:    0px 12px 12px 0px rgba(255, 255, 255, 0.50);
box-shadow:         0px 12px 12px 0px rgba(255, 255, 255, 0.50);
  position: fixed;
  width: 100%;
}

nav {
  display: inline-block;
  width: 100%;
}

nav  > ul {
  list-style-type: none;
  padding:0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  font-family: 'Roboto', sans-serif;
  color: #E3E5E8;
  font-size: 18px; /* Sets the font size to 16px */
  text-decoration: Bold;
  text-transform: uppercase;
}

nav > ul > li > a:hover {
  color: #E3E5E8;
  text-decoration: underline;
}

main {
  padding-top: 250px;
}

Ul > li {
  font-family: 'Roboto', sans-serif;
  font-size: 16px
  line-height: 1;
}
